In [2]:
import pandas as pd
import datetime

# 데이터 전처리

In [3]:
df = pd.read_csv('elec_data.csv', parse_dates=["date"])
df.head()

,date,time,generation,temp,precipitation,wind_speed,wind_direction,humidity,vapor_pressure,local_pressure,sunshine,insolation,snow
0,2018-01-01,1,0.0,2.2,NaN,1.4,50.0,55.0,3.9,1017.2,NaN,NaN,NaN
1,2018-01-01,2,0.0,1.8,NaN,2.1,50.0,55.0,3.8,1017.1,NaN,NaN,NaN
2,2018-01-01,3,0.0,1.9,NaN,0.8,20.0,58.0,4.1,1017.4,NaN,NaN,NaN
3,2018-01-01,4,0.0,1.2,NaN,1.7,20.0,61.0,4.1,1017.8,NaN,NaN,NaN
4,2018-01-01,5,0.0,-0.1,NaN,1.6,50.0,63.0,3.8,1017.9,NaN,NaN,NaN

generation 발전량  
temp 기온  
precipitation 강수량  
wind_speed 풍속  
wind_direction 풍향  
humidity 습도  
vapor_pressure 증기압  
local_pressure 현지기압  
sunshine 일조량  
insolation 일사량  
snow 적설

In [4]:
df.isnull().sum()

date                  0
time                  0
generation            0
temp                  8
precipitation     31429
wind_speed            8
wind_direction        8
humidity              4
vapor_pressure        6
local_pressure       32
sunshine          15980
insolation        15980
snow              34194
dtype: int64

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 35064 entries, 0 to 35063
Data columns (total 13 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   date            35064 non-null  datetime64[ns]
 1   time            35064 non-null  int64
 2   generation      35064 non-null  float64
 3   temp            35056 non-null  float64
 4   precipitation   3635 non-null   float64
 5   wind_speed      35056 non-null  float64
 6   wind_direction  35056 non-null  float64
 7   humidity        35060 non-null  float64
 8   vapor_pressure  35058 non-null  float64
 9   local_pressure  35032 non-null  float64
 10  sunshine        19084 non-null  float64
 11  insolation      19084 non-null  float64
 12  snow            870 non-null    float64
dtypes: datetime64[ns](1), float64(11), int64(1)
memory usage: 3.5 MB

In [6]:
# format = '%Y-%m-%d'
# df['date'] = pd.to_datetime(df['date']) # datetime 형식으로 변경하였다.

In [7]:
df['temp'].fillna(method='pad')

0        2.2
1        1.8
2        1.9
3        1.2
4       -0.1
        ...
35059   -2.0
35060   -2.6
35061   -3.6
35062   -4.2
35063   -4.1
Name: temp, Length: 35064, dtype: float64

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 35064 entries, 0 to 35063
Data columns (total 13 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   date            35064 non-null  datetime64[ns]
 1   time            35064 non-null  int64
 2   generation      35064 non-null  float64
 3   temp            35056 non-null  float64
 4   precipitation   3635 non-null   float64
 5   wind_speed      35056 non-null  float64
 6   wind_direction  35056 non-null  float64
 7   humidity        35060 non-null  float64
 8   vapor_pressure  35058 non-null  float64
 9   local_pressure  35032 non-null  float64
 10  sunshine        19084 non-null  float64
 11  insolation      19084 non-null  float64
 12  snow            870 non-null    float64
dtypes: datetime64[ns](1), float64(11), int64(1)
memory usage: 3.5 MB

In [9]:
df[df['temp'].isnull()]

,date,time,generation,temp,precipitation,wind_speed,wind_direction,humidity,vapor_pressure,local_pressure,sunshine,insolation,snow
23231,2020-08-25,24,0.960,NaN,NaN,3.3,70.0,71.0,28.4,996.1,NaN,NaN,NaN
23234,2020-08-26,3,1.920,NaN,NaN,1.4,70.0,82.0,30.7,995.2,NaN,NaN,NaN
23241,2020-08-26,10,18807.453,NaN,NaN,3.4,70.0,69.0,30.0,994.0,0.3,1.06,NaN
23249,2020-08-26,18,1817.326,NaN,1.2,5.8,110.0,96.0,NaN,986.7,0.0,0.09,NaN
23251,2020-08-26,20,525.040,NaN,7.9,3.8,140.0,99.0,32.2,986.5,0.0,0.00,NaN
32825,2021-09-29,18,1647.184,NaN,NaN,NaN,NaN,NaN,26.9,NaN,NaN,NaN,NaN
32826,2021-09-29,19,1254.036,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
32827,2021-09-29,20,946.660,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [10]:
df[['temp', 'wind_speed', 'wind_direction', 'vapor_pressure', 'local_pressure', 'humidity']] = df[['temp', 'wind_speed', 'wind_direction', 'vapor_pressure', 'local_pressure', 'humidity']].fillna(method='pad')

In [11]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 35064 entries, 0 to 35063
Data columns (total 13 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   date            35064 non-null  datetime64[ns]
 1   time            35064 non-null  int64
 2   generation      35064 non-null  float64
 3   temp            35064 non-null  float64
 4   precipitation   3635 non-null   float64
 5   wind_speed      35064 non-null  float64
 6   wind_direction  35064 non-null  float64
 7   humidity        35064 non-null  float64
 8   vapor_pressure  35064 non-null  float64
 9   local_pressure  35064 non-null  float64
 10  sunshine        19084 non-null  float64
 11  insolation      19084 non-null  float64
 12  snow            870 non-null    float64
dtypes: datetime64[ns](1), float64(11), int64(1)
memory usage: 3.5 MB

In [12]:
df.fillna(0, inplace=True)
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 35064 entries, 0 to 35063
Data columns (total 13 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   date            35064 non-null  datetime64[ns]
 1   time            35064 non-null  int64
 2   generation      35064 non-null  float64
 3   temp            35064 non-null  float64
 4   precipitation   35064 non-null  float64
 5   wind_speed      35064 non-null  float64
 6   wind_direction  35064 non-null  float64
 7   humidity        35064 non-null  float64
 8   vapor_pressure  35064 non-null  float64
 9   local_pressure  35064 non-null  float64
 10  sunshine        35064 non-null  float64
 11  insolation      35064 non-null  float64
 12  snow            35064 non-null  float64
dtypes: datetime64[ns](1), float64(11), int64(1)
memory usage: 3.5 MB

In [13]:
df['year'] = df['date'].dt.year
df['month'] = df['date'].dt.month
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 35064 entries, 0 to 35063
Data columns (total 15 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   date            35064 non-null  datetime64[ns]
 1   time            35064 non-null  int64
 2   generation      35064 non-null  float64
 3   temp            35064 non-null  float64
 4   precipitation   35064 non-null  float64
 5   wind_speed      35064 non-null  float64
 6   wind_direction  35064 non-null  float64
 7   humidity        35064 non-null  float64
 8   vapor_pressure  35064 non-null  float64
 9   local_pressure  35064 non-null  float64
 10  sunshine        35064 non-null  float64
 11  insolation      35064 non-null  float64
 12  snow            35064 non-null  float64
 13  year            35064 non-null  int64
 14  month           35064 non-null  int64
dtypes: datetime64[ns](1), float64(11), int64(3)
memory usage: 4.0 MB

# 모델 적용

In [14]:
df.head()

,date,time,generation,temp,precipitation,wind_speed,wind_direction,humidity,vapor_pressure,local_pressure,sunshine,insolation,snow,year,month
0,2018-01-01,1,0.0,2.2,0.0,1.4,50.0,55.0,3.9,1017.2,0.0,0.0,0.0,2018,1
1,2018-01-01,2,0.0,1.8,0.0,2.1,50.0,55.0,3.8,1017.1,0.0,0.0,0.0,2018,1
2,2018-01-01,3,0.0,1.9,0.0,0.8,20.0,58.0,4.1,1017.4,0.0,0.0,0.0,2018,1
3,2018-01-01,4,0.0,1.2,0.0,1.7,20.0,61.0,4.1,1017.8,0.0,0.0,0.0,2018,1
4,2018-01-01,5,0.0,-0.1,0.0,1.6,50.0,63.0,3.8,1017.9,0.0,0.0,0.0,2018,1

In [15]:
import numpy as np
from sklearn.model_selection import cross_val_score
from xgboost import XGBRegressor
from sklearn.model_selection import train_test_split, StratifiedKFold 
from sklearn.metrics import accuracy_score 
from sklearn.ensemble import VotingClassifier 
import warnings 
warnings.filterwarnings('ignore')

In [16]:
df_train = df.loc[:17519]
df_valid = df.loc[17520:26303]
df_test = df.loc[26304:]

X_train = df_train.drop(['generation'], axis=1)
y_train = df_train['generation']

X_valid = df_valid.drop(['generation'], axis=1)
y_valid = df_valid['generation']

X_test = df_test.drop(['generation'], axis=1)
y_test = df_test['generation']

In [17]:
X_train

,date,time,temp,precipitation,wind_speed,wind_direction,humidity,vapor_pressure,local_pressure,sunshine,insolation,snow,year,month
0,2018-01-01,1,2.2,0.0,1.4,50.0,55.0,3.9,1017.2,0.0,0.0,0.0,2018,1
1,2018-01-01,2,1.8,0.0,2.1,50.0,55.0,3.8,1017.1,0.0,0.0,0.0,2018,1
2,2018-01-01,3,1.9,0.0,0.8,20.0,58.0,4.1,1017.4,0.0,0.0,0.0,2018,1
3,2018-01-01,4,1.2,0.0,1.7,20.0,61.0,4.1,1017.8,0.0,0.0,0.0,2018,1
4,2018-01-01,5,-0.1,0.0,1.6,50.0,63.0,3.8,1017.9,0.0,0.0,0.0,2018,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
17515,2019-12-31,20,-3.3,0.0,2.1,20.0,50.0,2.4,1025.6,0.0,0.0,0.0,2019,12
17516,2019-12-31,21,-3.4,0.0,2.1,20.0,53.0,2.5,1025.7,0.0,0.0,0.0,2019,12
17517,2019-12-31,22,-4.0,0.0,2.2,20.0,53.0,2.4,1025.5,0.0,0.0,0.0,2019,12
17518,2019-12-31,23,-4.5,0.0,3.0,50.0,53.0,2.3,1025.4,0.0,0.0,0.0,2019,12
17519,2019-12-31,24,-4.9,0.0,3.6,50.0,50.0,2.1,1025.2,0.0,0.0,0.0,2019,12

In [18]:
import catboost as cb

cat_columns_idx = ['time', 'year', 'month']

In [19]:
cbr = cb.CatBoostRegressor(cat_features=cat_columns_idx, has_time=True, verbose=True, random_seed=42)

In [20]:
cbr.fit(X_train, y_train, eval_set=(X_valid, y_valid), verbose=100)

Learning rate set to 0.079823
0:	learn: 8397.2416958	test: 10952.2694493	best: 10952.2694493 (0)	total: 181ms	remaining: 3m
100:	learn: 1619.0389841	test: 4074.4831932	best: 4074.4831932 (100)	total: 1.6s	remaining: 14.2s
200:	learn: 1405.6112054	test: 3653.4571030	best: 3652.9568406 (197)	total: 2.95s	remaining: 11.7s
300:	learn: 1297.6178773	test: 3445.1536003	best: 3445.1536003 (300)	total: 4.34s	remaining: 10.1s
400:	learn: 1231.7832938	test: 3320.2186449	best: 3314.4664654 (377)	total: 5.75s	remaining: 8.59s
500:	learn: 1178.8197620	test: 3329.8156166	best: 3314.4664654 (377)	total: 7.21s	remaining: 7.18s
600:	learn: 1133.5412050	test: 3367.6930922	best: 3314.4664654 (377)	total: 8.64s	remaining: 5.74s
700:	learn: 1095.2629484	test: 3394.1079187	best: 3314.4664654 (377)	total: 10s	remaining: 4.29s
800:	learn: 1056.6530792	test: 3389.5689134	best: 3314.4664654 (377)	total: 11.4s	remaining: 2.84s
900:	learn: 1021.2211331	test: 3382.5994237	best: 3314.4664654 (377)	total: 12.8s	remaining: 1.41s
999:	learn: 993.3505040	test: 3392.7333953	best: 3314.4664654 (377)	total: 14.2s	remaining: 0us

bestTest = 3314.466465
bestIteration = 377

Shrink model to first 378 iterations.

In [21]:
y_pred = cbr.predict(X_test)

In [22]:
df_pred = pd.DataFrame({'date':df_test['date'],
                        'time':df_test['time'],
                        'test':y_test,
                        'pred':y_pred})

In [23]:
df_pred['error'] = df_pred['test'] - df_pred['pred']
# df_pred['date'] = df_test['date']
df_pred.head(40)

            date  time       test          pred         error
26304 2021-01-01     1      0.000    667.041802   -667.041802
26305 2021-01-01     2      0.000    677.716110   -677.716110
26306 2021-01-01     3      0.000    637.634955   -637.634955
26307 2021-01-01     4      0.000    625.186513   -625.186513
26308 2021-01-01     5      0.000    558.255229   -558.255229
26309 2021-01-01     6      0.000    573.158050   -573.158050
26310 2021-01-01     7      0.000    509.926491   -509.926491
26311 2021-01-01     8      0.000    689.124737   -689.124737
26312 2021-01-01     9    117.120   2637.332488  -2520.212488
26313 2021-01-01    10    671.142   4727.291842  -4056.149842
26314 2021-01-01    11   1247.013   7479.262512  -6232.249512
26315 2021-01-01    12   2642.177  14815.043601 -12172.866601
26316 2021-01-01    13   4132.673  15658.101982 -11525.428982
26317 2021-01-01    14   5331.163  14837.713840  -9506.550840
26318 2021-01-01    15   3925.278  13061.579229  -9136.301229
26319 2021-01-01    16   2660.625   5822.564286  -3161.939286
26320 2021-01-01    17    904.519   2578.073725  -1673.554725
26321 2021-01-01    18     33.072   1194.806390  -1161.734390
26322 2021-01-01    19    256.800   1507.968669  -1251.168669
26323 2021-01-01    20      3.360   1252.259044  -1248.899044
26324 2021-01-01    21      0.960   1122.750569  -1121.790569
26325 2021-01-01    22      1.440    946.786474   -945.346474
26326 2021-01-01    23      0.960    702.591123   -701.631123
26327 2021-01-01    24      0.000    710.056681   -710.056681
26328 2021-01-02     1      0.000    686.389551   -686.389551
26329 2021-01-02     2      0.000    684.965466   -684.965466
26330 2021-01-02     3      0.000    670.873177   -670.873177
26331 2021-01-02     4      0.000    683.558756   -683.558756
26332 2021-01-02     5      0.000    689.947079   -689.947079
26333 2021-01-02     6      0.000    687.271166   -687.271166
26334 2021-01-02     7      0.000    637.098934   -637.098934
26335 2021-01-02     8      0.960    705.536098   -704.576098
26336 2021-01-02     9    359.144   3695.190527  -3336.046527
26337 2021-01-02    10   1998.115  11167.754779  -9169.639779
26338 2021-01-02    11   6354.297  17957.741755 -11603.444755
26339 2021-01-02    12  10579.045  19738.847759  -9159.802759
26340 2021-01-02    13  13449.150  24481.725022 -11032.575022
26341 2021-01-02    14  15189.602  22321.191283  -7131.589283
26342 2021-01-02    15  13818.654  18954.254516  -5135.600516
26343 2021-01-02    16   8742.382  10830.195529  -2087.813529

In [24]:
# from random import *
# from sklearn.utils.fixes import loguniform

# param_grid = {
#     'n_estimators' : randint(100, 300),
#     'depth': randint(4, 10),
#     'learning_rate': loguniform(1e-3, 0.1),
#     'min_child_samples': randint(10, 40),
#     'grow_policy':['SymmetricTree', 'Lossguide', 'Depthwise']
# }

# result = cbr.randomized_search(param_grid, X_train, y_train, cv=1, n_iter=100, verbose=False)

랜덤포레스트

In [25]:
df_copy = df.copy()
# df_copy['snow2'] = pd.cut(df_copy.snow, bins=[0.0, 4.0, 100], labels=['A', 'B'])
df_train = df_copy.loc[:26303]
# df_valid = df.loc[17520:26303]
df_test = df.loc[26304:]

X_train_rf = df_train.drop(['date', 'generation'], axis=1)
y_train_rf = df_train['generation']

X_valid_rf = df_valid.drop(['date', 'generation'], axis=1)
y_valid_rf = df_valid['generation']

X_test_rf = df_test.drop(['date', 'generation'], axis=1)
y_test_rf = df_test['generation']

In [26]:
df_copy

,date,time,generation,temp,precipitation,wind_speed,wind_direction,humidity,vapor_pressure,local_pressure,sunshine,insolation,snow,year,month
0,2018-01-01,1,0.00,2.2,0.0,1.4,50.0,55.0,3.9,1017.2,0.0,0.0,0.0,2018,1
1,2018-01-01,2,0.00,1.8,0.0,2.1,50.0,55.0,3.8,1017.1,0.0,0.0,0.0,2018,1
2,2018-01-01,3,0.00,1.9,0.0,0.8,20.0,58.0,4.1,1017.4,0.0,0.0,0.0,2018,1
3,2018-01-01,4,0.00,1.2,0.0,1.7,20.0,61.0,4.1,1017.8,0.0,0.0,0.0,2018,1
4,2018-01-01,5,0.00,-0.1,0.0,1.6,50.0,63.0,3.8,1017.9,0.0,0.0,0.0,2018,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
35059,2021-12-31,20,1921.90,-2.0,0.0,3.0,50.0,59.0,3.1,1022.7,0.0,0.0,0.0,2021,12
35060,2021-12-31,21,769.34,-2.6,0.0,1.0,50.0,51.0,2.6,1022.9,0.0,0.0,0.0,2021,12
35061,2021-12-31,22,300.88,-3.6,0.0,2.2,70.0,57.0,2.7,1023.4,0.0,0.0,0.0,2021,12
35062,2021-12-31,23,76.00,-4.2,0.0,1.7,50.0,56.0,2.5,1023.8,0.0,0.0,0.0,2021,12
35063,2021-12-31,24,0.00,-4.1,0.0,2.8,70.0,52.0,2.3,1024.2,0.0,0.0,0.0,2021,12

In [27]:
from sklearn.ensemble import RandomForestRegressor

rf_reg = RandomForestRegressor()
rf_reg.fit(X_train_rf, y_train_rf)

RandomForestRegressor()

In [28]:
y_pred_rf = rf_reg.predict(X_test_rf)

In [29]:
df_pred_rf = pd.DataFrame({'date':df_test['date'],
                        'time':df_test['time'],
                        'test':y_test_rf,
                        'pred':y_pred_rf})
df_pred_rf['error'] = df_pred_rf['test'] - df_pred_rf['pred']

In [30]:
df_pred_rf.head(50)

            date  time       test         pred        error
26304 2021-01-01     1      0.000     45.33360    -45.33360
26305 2021-01-01     2      0.000      0.00960     -0.00960
26306 2021-01-01     3      0.000      0.11520     -0.11520
26307 2021-01-01     4      0.000      0.00480     -0.00480
26308 2021-01-01     5      0.000      0.01440     -0.01440
26309 2021-01-01     6      0.000      0.00000      0.00000
26310 2021-01-01     7      0.000      0.00480     -0.00480
26311 2021-01-01     8      0.000     39.49525    -39.49525
26312 2021-01-01     9    117.120   1410.58783  -1293.46783
26313 2021-01-01    10    671.142   2443.36297  -1772.22097
26314 2021-01-01    11   1247.013   5779.87106  -4532.85806
26315 2021-01-01    12   2642.177  19967.39173 -17325.21473
26316 2021-01-01    13   4132.673  20431.13245 -16298.45945
26317 2021-01-01    14   5331.163  21535.67165 -16204.50865
26318 2021-01-01    15   3925.278  17979.06244 -14053.78444
26319 2021-01-01    16   2660.625   7755.62026  -5094.99526
26320 2021-01-01    17    904.519   2389.94676  -1485.42776
26321 2021-01-01    18     33.072    753.46888   -720.39688
26322 2021-01-01    19    256.800    983.93325   -727.13325
26323 2021-01-01    20      3.360    879.35860   -875.99860
26324 2021-01-01    21      0.960    603.24700   -602.28700
26325 2021-01-01    22      1.440    300.70840   -299.26840
26326 2021-01-01    23      0.960    171.10320   -170.14320
26327 2021-01-01    24      0.000     47.02480    -47.02480
26328 2021-01-02     1      0.000     86.88720    -86.88720
26329 2021-01-02     2      0.000      0.00000      0.00000
26330 2021-01-02     3      0.000      0.18000     -0.18000
26331 2021-01-02     4      0.000      0.10560     -0.10560
26332 2021-01-02     5      0.000      0.05760     -0.05760
26333 2021-01-02     6      0.000      0.30136     -0.30136
26334 2021-01-02     7      0.000      0.77840     -0.77840
26335 2021-01-02     8      0.960     27.16460    -26.20460
26336 2021-01-02     9    359.144   3599.10748  -3239.96348
26337 2021-01-02    10   1998.115   6552.88911  -4554.77411
26338 2021-01-02    11   6354.297  25304.19725 -18949.90025
26339 2021-01-02    12  10579.045  27926.05492 -17347.00992
26340 2021-01-02    13  13449.150  28001.30748 -14552.15748
26341 2021-01-02    14  15189.602  26654.43989 -11464.83789
26342 2021-01-02    15  13818.654  24748.73527 -10930.08127
26343 2021-01-02    16   8742.382  13786.82981  -5044.44781
26344 2021-01-02    17   3247.859   5356.44426  -2108.58526
26345 2021-01-02    18    444.268   1402.20636   -957.93836
26346 2021-01-02    19    801.120   1703.06273   -901.94273
26347 2021-01-02    20    808.480   1132.94928   -324.46928
26348 2021-01-02    21    810.080    996.91700   -186.83700
26349 2021-01-02    22    640.160    525.34000    114.82000
26350 2021-01-02    23    204.480    200.94640      3.53360
26351 2021-01-02    24      6.720     78.17200    -71.45200
26352 2021-01-03     1      1.440     41.93040    -40.49040
26353 2021-01-03     2      1.920      9.88800     -7.96800

In [31]:
scores = cross_val_score(rf_reg, X_train_rf, y_train_rf, scoring='neg_mean_squared_error', cv=10)

In [32]:
rmse = np.sqrt(-scores)

In [33]:
rmse

array([2332.96156473, 1910.59465305, 2161.51658025, 1935.2806387 ,
       2161.41109558, 1843.40839892, 2289.30262656, 2148.11532241,
       2077.46117442, 1605.09665037])

In [34]:
rmse.mean()

2046.5148704989035

In [35]:
xgb = XGBRegressor()
scores_xgb = cross_val_score(xgb, X_train_rf, y_train_rf, scoring='neg_mean_squared_error', cv=10)

In [36]:
rmse_xgb = np.sqrt(-scores_xgb)
rmse_xgb.mean()

1940.1593303454422

In [37]:
xgb.fit(X_train_rf, y_train_rf)
y_pred_xgb = xgb.predict(X_test_rf)
df_pred_xgb = pd.DataFrame({'date':df_test['date'],
                        'time':df_test['time'],
                        'test':y_test_rf,
                        'pred':y_pred_xgb})
df_pred_xgb['error'] = df_pred_xgb['test'] - df_pred_xgb['pred']

In [38]:
df_pred_xgb.head(50)

            date  time       test          pred         error
26304 2021-01-01     1      0.000     38.710777    -38.710777
26305 2021-01-01     2      0.000     13.048835    -13.048835
26306 2021-01-01     3      0.000     19.931747    -19.931747
26307 2021-01-01     4      0.000     19.640270    -19.640270
26308 2021-01-01     5      0.000     19.653519    -19.653519
26309 2021-01-01     6      0.000     11.010617    -11.010617
26310 2021-01-01     7      0.000     11.806362    -11.806362
26311 2021-01-01     8      0.000   -300.819000    300.819000
26312 2021-01-01     9    117.120    280.006775   -162.886775
26313 2021-01-01    10    671.142   2246.657959  -1575.515959
26314 2021-01-01    11   1247.013   4579.102539  -3332.089539
26315 2021-01-01    12   2642.177  16602.203125 -13960.026125
26316 2021-01-01    13   4132.673  17392.667969 -13259.994969
26317 2021-01-01    14   5331.163  17400.150391 -12068.987391
26318 2021-01-01    15   3925.278  18902.478516 -14977.200516
26319 2021-01-01    16   2660.625   7591.163574  -4930.538574
26320 2021-01-01    17    904.519   2422.493164  -1517.974164
26321 2021-01-01    18     33.072    950.863281   -917.791281
26322 2021-01-01    19    256.800   1433.181885  -1176.381885
26323 2021-01-01    20      3.360    945.431641   -942.071641
26324 2021-01-01    21      0.960    559.578308   -558.618308
26325 2021-01-01    22      1.440    141.192719   -139.752719
26326 2021-01-01    23      0.960   -121.016296    121.976296
26327 2021-01-01    24      0.000   -185.800766    185.800766
26328 2021-01-02     1      0.000     57.997189    -57.997189
26329 2021-01-02     2      0.000     22.707535    -22.707535
26330 2021-01-02     3      0.000     14.086033    -14.086033
26331 2021-01-02     4      0.000     24.610289    -24.610289
26332 2021-01-02     5      0.000     21.927475    -21.927475
26333 2021-01-02     6      0.000     21.927475    -21.927475
26334 2021-01-02     7      0.000      2.711430     -2.711430
26335 2021-01-02     8      0.960   -275.650513    276.610513
26336 2021-01-02     9    359.144   1274.361938   -915.217938
26337 2021-01-02    10   1998.115   5441.201172  -3443.086172
26338 2021-01-02    11   6354.297  16968.837891 -10614.540891
26339 2021-01-02    12  10579.045  15582.639648  -5003.594648
26340 2021-01-02    13  13449.150  17347.013672  -3897.863672
26341 2021-01-02    14  15189.602  21463.857422  -6274.255422
26342 2021-01-02    15  13818.654  21795.701172  -7977.047172
26343 2021-01-02    16   8742.382  14780.426758  -6038.044758
26344 2021-01-02    17   3247.859   5525.343262  -2277.484262
26345 2021-01-02    18    444.268   1894.725708  -1450.457708
26346 2021-01-02    19    801.120   2233.150879  -1432.030879
26347 2021-01-02    20    808.480   1656.889160   -848.409160
26348 2021-01-02    21    810.080   1225.232544   -415.152544
26349 2021-01-02    22    640.160    736.248474    -96.088474
26350 2021-01-02    23    204.480    391.154236   -186.674236
26351 2021-01-02    24      6.720    323.930054   -317.210054
26352 2021-01-03     1      1.440    313.168701   -311.728701
26353 2021-01-03     2      1.920    244.331375   -242.411375

# feature 추가

In [69]:
df_copy = df.copy()
snow_ct = [-0.1, 4.0, 100.0]
snow_ct_name = [0, 1]
df_copy['snow_ct'] = pd.cut(df_copy['snow'], bins=snow_ct, labels=snow_ct_name)
df_copy

,date,time,generation,temp,precipitation,wind_speed,wind_direction,humidity,vapor_pressure,local_pressure,sunshine,insolation,snow,year,month,snow_ct
0,2018-01-01,1,0.00,2.2,0.0,1.4,50.0,55.0,3.9,1017.2,0.0,0.0,0.0,2018,1,0
1,2018-01-01,2,0.00,1.8,0.0,2.1,50.0,55.0,3.8,1017.1,0.0,0.0,0.0,2018,1,0
2,2018-01-01,3,0.00,1.9,0.0,0.8,20.0,58.0,4.1,1017.4,0.0,0.0,0.0,2018,1,0
3,2018-01-01,4,0.00,1.2,0.0,1.7,20.0,61.0,4.1,1017.8,0.0,0.0,0.0,2018,1,0
4,2018-01-01,5,0.00,-0.1,0.0,1.6,50.0,63.0,3.8,1017.9,0.0,0.0,0.0,2018,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
35059,2021-12-31,20,1921.90,-2.0,0.0,3.0,50.0,59.0,3.1,1022.7,0.0,0.0,0.0,2021,12,0
35060,2021-12-31,21,769.34,-2.6,0.0,1.0,50.0,51.0,2.6,1022.9,0.0,0.0,0.0,2021,12,0
35061,2021-12-31,22,300.88,-3.6,0.0,2.2,70.0,57.0,2.7,1023.4,0.0,0.0,0.0,2021,12,0
35062,2021-12-31,23,76.00,-4.2,0.0,1.7,50.0,56.0,2.5,1023.8,0.0,0.0,0.0,2021,12,0
35063,2021-12-31,24,0.00,-4.1,0.0,2.8,70.0,52.0,2.3,1024.2,0.0,0.0,0.0,2021,12,0

In [70]:
df_copy['snow_ct'].value_counts()

0    34646
1      418
Name: snow_ct, dtype: int64

In [71]:
df_drop = df_copy.drop(['wind_direction', 'local_pressure', 'vapor_pressure', 'insolation'], axis=1)

In [84]:
def data_prep(df, valid=False):
    if valid==False:
        df_train = df.loc[:26303]
        df_test = df.loc[26304:]
        
        X_train = df_train.drop(['date', 'generation'], axis=1)
        y_train = df_train['generation']
        
        X_test = df_test.drop(['date', 'generation'], axis=1)
        y_test = df_test['generation']
        
        return X_train, y_train, X_test, y_test, df_test
    
    else:
        df_train = df.loc[:17519]
        df_valid = df.loc[17520:26303]
        df_test = df.loc[26304:]
        
        X_train = df_train.drop(['date', 'generation'], axis=1)
        y_train = df_train['generation']
        
        X_valid = df_valid.drop(['date', 'generation'], axis=1)
        y_valid = df_valid['generation']
        
        X_test = df_test.drop(['date', 'generation'], axis=1)
        y_test = df_test['generation']
        
        return X_train, y_train, X_valid, y_valid, X_test, y_test, df_valid, df_test

In [73]:
X_train, y_train, X_test, y_test, df_test = data_prep(df_drop)

In [74]:
X_train

,time,temp,precipitation,wind_speed,humidity,sunshine,snow,year,month,snow_ct
0,1,2.2,0.0,1.4,55.0,0.0,0.0,2018,1,0
1,2,1.8,0.0,2.1,55.0,0.0,0.0,2018,1,0
2,3,1.9,0.0,0.8,58.0,0.0,0.0,2018,1,0
3,4,1.2,0.0,1.7,61.0,0.0,0.0,2018,1,0
4,5,-0.1,0.0,1.6,63.0,0.0,0.0,2018,1,0
...,...,...,...,...,...,...,...,...,...,...
26299,20,-1.0,0.0,2.9,95.0,0.0,12.2,2020,12,1
26300,21,-1.3,0.1,2.4,91.0,0.0,12.1,2020,12,1
26301,22,-0.8,0.0,0.9,77.0,0.0,11.7,2020,12,1
26302,23,-1.6,0.0,2.2,93.0,0.0,11.9,2020,12,1
26303,24,-1.8,0.0,1.3,79.0,0.0,11.8,2020,12,1

In [75]:
def train_model(model, df, X_train, y_train, X_test, y_test):
    model = model
    model.fit(X_train, y_train)
    
    y_pred = model.predict(X_test)
    
    df_pred = pd.DataFrame({'date':df['date'],
                        'time':df['time'],
                        'test':y_test,
                        'pred':y_pred})
    df_pred['error'] = df_pred['test'] - df_pred['pred']
    
    scores = cross_val_score(model, X_train, y_train, scoring='neg_mean_squared_error', cv=5)
    rmse = np.sqrt(-scores).mean()    
    
    return df_pred, rmse

In [76]:
model = RandomForestRegressor()

df_pred, rmse = train_model(model, df_test, X_train, y_train, X_test, y_test)

In [77]:
rmse

2892.4524692493387

In [78]:
df_pred.head(50)

            date  time       test         pred        error
26304 2021-01-01     1      0.000     50.58480    -50.58480
26305 2021-01-01     2      0.000      0.02400     -0.02400
26306 2021-01-01     3      0.000      0.16560     -0.16560
26307 2021-01-01     4      0.000      0.01440     -0.01440
26308 2021-01-01     5      0.000      0.00000      0.00000
26309 2021-01-01     6      0.000      0.00000      0.00000
26310 2021-01-01     7      0.000      0.00960     -0.00960
26311 2021-01-01     8      0.000     13.42532    -13.42532
26312 2021-01-01     9    117.120   1657.57103  -1540.45103
26313 2021-01-01    10    671.142   2176.59040  -1505.44840
26314 2021-01-01    11   1247.013   2376.16177  -1129.14877
26315 2021-01-01    12   2642.177   6825.53001  -4183.35301
26316 2021-01-01    13   4132.673   8543.29044  -4410.61744
26317 2021-01-01    14   5331.163  10206.15655  -4874.99355
26318 2021-01-01    15   3925.278  11922.72698  -7997.44898
26319 2021-01-01    16   2660.625   6986.87840  -4326.25340
26320 2021-01-01    17    904.519   3337.94044  -2433.42144
26321 2021-01-01    18     33.072   1344.15335  -1311.08135
26322 2021-01-01    19    256.800   1553.41432  -1296.61432
26323 2021-01-01    20      3.360   1128.26160  -1124.90160
26324 2021-01-01    21      0.960    619.24800   -618.28800
26325 2021-01-01    22      1.440    207.59040   -206.15040
26326 2021-01-01    23      0.960    152.46000   -151.50000
26327 2021-01-01    24      0.000     33.87840    -33.87840
26328 2021-01-02     1      0.000     63.80880    -63.80880
26329 2021-01-02     2      0.000      1.02240     -1.02240
26330 2021-01-02     3      0.000      0.24000     -0.24000
26331 2021-01-02     4      0.000      0.20160     -0.20160
26332 2021-01-02     5      0.000      0.06240     -0.06240
26333 2021-01-02     6      0.000      0.00000      0.00000
26334 2021-01-02     7      0.000      1.03873     -1.03873
26335 2021-01-02     8      0.960     37.43071    -36.47071
26336 2021-01-02     9    359.144   1495.59380  -1136.44980
26337 2021-01-02    10   1998.115   7557.46160  -5559.34660
26338 2021-01-02    11   6354.297   9965.04391  -3610.74691
26339 2021-01-02    12  10579.045  13755.44998  -3176.40498
26340 2021-01-02    13  13449.150  19080.90464  -5631.75464
26341 2021-01-02    14  15189.602  22935.65123  -7746.04923
26342 2021-01-02    15  13818.654  28380.96913 -14562.31513
26343 2021-01-02    16   8742.382  18660.94971  -9918.56771
26344 2021-01-02    17   3247.859   6242.17842  -2994.31942
26345 2021-01-02    18    444.268   1467.20964  -1022.94164
26346 2021-01-02    19    801.120   2229.27625  -1428.15625
26347 2021-01-02    20    808.480   1166.81408   -358.33408
26348 2021-01-02    21    810.080   1062.24780   -252.16780
26349 2021-01-02    22    640.160    544.09040     96.06960
26350 2021-01-02    23    204.480    146.83200     57.64800
26351 2021-01-02    24      6.720     48.53680    -41.81680
26352 2021-01-03     1      1.440     49.83840    -48.39840
26353 2021-01-03     2      1.920      0.05760      1.86240

# 적설량에 따른 발전량 보정 테스트

In [164]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 35064 entries, 0 to 35063
Data columns (total 15 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   date            35064 non-null  datetime64[ns]
 1   time            35064 non-null  int64
 2   generation      35064 non-null  float64
 3   temp            35064 non-null  float64
 4   precipitation   35064 non-null  float64
 5   wind_speed      35064 non-null  float64
 6   wind_direction  35064 non-null  float64
 7   humidity        35064 non-null  float64
 8   vapor_pressure  35064 non-null  float64
 9   local_pressure  35064 non-null  float64
 10  sunshine        35064 non-null  float64
 11  insolation      35064 non-null  float64
 12  snow            35064 non-null  float64
 13  year            35064 non-null  int64
 14  month           35064 non-null  int64
dtypes: datetime64[ns](1), float64(11), int64(3)
memory usage: 4.0 MB

In [165]:
X_train, y_train, X_valid, y_valid, X_test, y_test, df_valid, df_test = data_prep(df, valid=True)

In [166]:
model = RandomForestRegressor()

df_pred, rmse = train_model(model, df_valid, X_train, y_train, X_valid, y_valid)

In [155]:
rmse

2353.471609085711

In [167]:
test_pred = model.predict(X_test)

In [172]:
df_pred['sunshine'] = df_valid['sunshine']
df_pred['snow'] = df_valid['snow']

df_pred.tail(50)

            date  time      test         pred        error  sunshine  snow
26254 2020-12-29    23     0.000     94.27440    -94.27440       0.0   1.6
26255 2020-12-29    24     0.000     86.88640    -86.88640       0.0   1.6
26256 2020-12-30     1     0.000     83.07360    -83.07360       0.0   1.6
26257 2020-12-30     2     0.000      5.83200     -5.83200       0.0   1.9
26258 2020-12-30     3     0.000      2.60640     -2.60640       0.0   3.1
26259 2020-12-30     4     0.000      2.49360     -2.49360       0.0   4.2
26260 2020-12-30     5     0.000      2.49360     -2.49360       0.0   5.3
26261 2020-12-30     6     0.000      1.58600     -1.58600       0.0   5.5
26262 2020-12-30     7     0.000     11.02240    -11.02240       0.0   6.2
26263 2020-12-30     8     0.960    152.74550   -151.78550       0.0   8.5
26264 2020-12-30     9   119.796    918.49458   -798.69858       0.0   9.9
26265 2020-12-30    10   702.500   1187.37476   -484.87476       0.0  14.0
26266 2020-12-30    11  1328.805   1759.86789   -431.06289       0.0  15.7
26267 2020-12-30    12  1833.294   3522.70112  -1689.40712       0.4  16.1
26268 2020-12-30    13  2133.828   2602.01533   -468.18733       0.2  16.2
26269 2020-12-30    14  2064.966   3524.15522  -1459.18922       0.4  16.3
26270 2020-12-30    15  1563.043   1806.24793   -243.20493       0.0  16.3
26271 2020-12-30    16  1147.239   1754.79935   -607.56035       0.0  15.7
26272 2020-12-30    17   278.777    922.40773   -643.63073       0.0  17.0
26273 2020-12-30    18     2.580    780.93159   -778.35159       0.0  17.6
26274 2020-12-30    19    10.560    569.64008   -559.08008       0.0  17.7
26275 2020-12-30    20     0.000    416.04219   -416.04219       0.0  17.1
26276 2020-12-30    21     0.000    413.38800   -413.38800       0.0  16.9
26277 2020-12-30    22     0.000    375.01080   -375.01080       0.0  17.0
26278 2020-12-30    23     0.000    116.53440   -116.53440       0.0  17.3
26279 2020-12-30    24     0.000    111.57600   -111.57600       0.0  16.6
26280 2020-12-31     1     0.000     79.55760    -79.55760       0.0  16.1
26281 2020-12-31     2     0.000     57.70560    -57.70560       0.0  15.9
26282 2020-12-31     3     0.000      0.70080     -0.70080       0.0  15.8
26283 2020-12-31     4     0.000      0.03360     -0.03360       0.0  15.8
26284 2020-12-31     5     0.000      0.01440     -0.01440       0.0  15.8
26285 2020-12-31     6     0.000      0.00960     -0.00960       0.0  15.8
26286 2020-12-31     7     0.000      0.00000      0.00000       0.0  15.4
26287 2020-12-31     8     0.000     48.19866    -48.19866       0.0  13.8
26288 2020-12-31     9   123.360   1763.58617  -1640.22617       0.4  12.7
26289 2020-12-31    10   656.844  16638.80218 -15981.95818       1.0  11.9
26290 2020-12-31    11  1139.173  28361.18935 -27222.01635       1.0  11.1
26291 2020-12-31    12  1557.765  30506.65270 -28948.88770       1.0  10.6
26292 2020-12-31    13  2023.693  30929.86377 -28906.17077       1.0   9.8
26293 2020-12-31    14  1610.073  15269.22451 -13659.15151       0.4   9.8
26294 2020-12-31    15  1650.067  15151.55331 -13501.48631       0.5   9.1
26295 2020-12-31    16   941.544   8614.69062  -7673.14662       0.4   9.0
26296 2020-12-31    17   113.484   2490.89991  -2377.41591       0.0  10.0
26297 2020-12-31    18     1.680    961.54966   -959.86966       0.0  11.6
26298 2020-12-31    19     0.000    543.81385   -543.81385       0.0  12.3
26299 2020-12-31    20     0.000    471.20526   -471.20526       0.0  12.2
26300 2020-12-31    21     0.000    448.26785   -448.26785       0.0  12.1
26301 2020-12-31    22     0.000    257.06420   -257.06420       0.0  11.7
26302 2020-12-31    23     0.000     83.71280    -83.71280       0.0  11.9
26303 2020-12-31    24     0.000    103.42060   -103.42060       0.0  11.8

In [173]:
df_error = df_pred[['error', 'sunshine', 'snow']]
df_error

           error  sunshine  snow
17520 -135.93360       0.0   0.0
17521 -134.83200       0.0   0.0
17522   -2.62320       0.0   0.0
17523    0.00000       0.0   0.0
17524    0.00000       0.0   0.0
...          ...       ...   ...
26299 -471.20526       0.0  12.2
26300 -448.26785       0.0  12.1
26301 -257.06420       0.0  11.7
26302  -83.71280       0.0  11.9
26303 -103.42060       0.0  11.8

[8784 rows x 3 columns]

In [174]:
xgb_reg = XGBRegressor()
rf = RandomForestRegressor()

In [175]:
X_error = df_error.drop(['error'], axis=1)
y_error = df_error['error']

# X_train, X_test, y_train, y_test = train_test_split(X_error, y_error)

In [176]:
rf.fit(X_error, y_error)

RandomForestRegressor()

In [182]:
X_test

,time,temp,precipitation,wind_speed,wind_direction,humidity,vapor_pressure,local_pressure,sunshine,insolation,snow,year,month
26304,1,-2.9,0.0,1.1,50.0,83.0,4.1,1018.2,0.0,0.0,11.6,2021,1
26305,2,-2.9,0.0,1.0,70.0,81.0,4.0,1018.2,0.0,0.0,11.5,2021,1
26306,3,-2.8,0.0,0.1,0.0,86.0,4.3,1018.6,0.0,0.0,11.4,2021,1
26307,4,-2.9,0.0,0.7,20.0,87.0,4.3,1018.6,0.0,0.0,10.9,2021,1
26308,5,-4.1,0.0,1.3,50.0,93.0,4.2,1018.2,0.0,0.0,10.6,2021,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...
35059,20,-2.0,0.0,3.0,50.0,59.0,3.1,1022.7,0.0,0.0,0.0,2021,12
35060,21,-2.6,0.0,1.0,50.0,51.0,2.6,1022.9,0.0,0.0,0.0,2021,12
35061,22,-3.6,0.0,2.2,70.0,57.0,2.7,1023.4,0.0,0.0,0.0,2021,12
35062,23,-4.2,0.0,1.7,50.0,56.0,2.5,1023.8,0.0,0.0,0.0,2021,12
35063,24,-4.1,0.0,2.8,70.0,52.0,2.3,1024.2,0.0,0.0,0.0,2021,12

In [183]:
X_test_error = X_test[['sunshine', 'snow']]
error_pred = rf.predict(X_test_error)

In [178]:
scores = cross_val_score(rf, X_train, y_train, scoring='neg_mean_squared_error', cv=5)
rmse = np.sqrt(-scores).mean()

In [179]:
rmse

2361.466860549233

In [184]:
df_pred_final = pd.DataFrame({'test':y_test,
                             'pred':test_pred,
                              'error_pred':error_pred})

In [185]:
error_pred.shape

(8760,)

In [187]:
df_pred_final['final_pred'] = df_pred_final['pred']+df_pred_final['error_pred']





df_pred_final

          test       pred  error_pred   final_pred
26304     0.00     9.7272 -705.524674  -695.797474
26305     0.00     9.7272 -218.869685  -209.142485
26306     0.00     2.6520 -216.540246  -213.888246
26307     0.00     0.0000   -9.598697    -9.598697
26308     0.00     0.0000 -187.397339  -187.397339
...        ...        ...         ...          ...
35059  1921.90  1009.8000  296.895688  1306.695688
35060   769.34   937.6178  296.895688  1234.513488
35061   300.88   470.7190  296.895688   767.614688
35062    76.00   223.2008  296.895688   520.096488
35063     0.00   203.7216  296.895688   500.617288

[8760 rows x 4 columns]